---
/*
  MeteoWeather is a Weather App 
  Copyright (C) 2024 Mukul Kedia

  MeteoWeather is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MeteoWeather is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with MeteoWeather. If not, see <https://www.gnu.org/licenses/>.
*/

import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Homepage">
	<Nav />
	<div class="absolute inset-0 grid place-items-center -z-10">
		<div class="flex flex-col items-center justify-around bg-gray-700 dark:bg-gray-950 w-full h-1/2 py-4 sm:py-8">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-56" viewBox="0 0 640 512"><path fill="white" d="M0 336c0 80 65 144 144 144h368a128 128 0 0 0 26-253c4-11 6-23 6-35a96 96 0 0 0-149-80 160 160 0 0 0-299 88C40 220 0 273 0 336z"/></svg>

			<div id="message" class="grid place-items-center transition-opacity duration-1000 ease-in-out opacity-0">
				<span class="text-2xl font-bold text-white flex gap-1 mb-0.5">Welcome to <span class="grid"><strong class="bg-clip-text text-transparent font-black bg-gradient-to-br from-pink-400 to-orange-300 row-start-1 col-start-1">MeteoWeather!</strong><strong class="blur-[6px] bg-clip-text text-transparent font-black bg-gradient-to-br from-pink-400 to-orange-300 row-start-1 col-start-1">MeteoWeather!</strong></span></span>
				<span class="text-xs font-bold text-gray-400">The Powerful Weather App For Your Device</span>
			</div>
		</div>
	</div>
	<Footer />
</Layout>

<script>
	function setup() {
		document.getElementById("message")!.classList.replace("opacity-0", "opacity-100")
	}

	setup();
	document.addEventListener("astro:after-swap", () => {
		if (window.location.pathname === "/") setup();
	});
</script>
