---
/*
  MeteoWeather is a Accurate Weather App 
  Copyright (C) 2024 Mukul Kedia

  MeteoWeather is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MeteoWeather is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with MeteoWeather. If not, see <https://www.gnu.org/licenses/>.
*/
---

<dialog id="newLookModal" class="z-50 overflow-x-hidden overflow-y-auto bg-gray-700 dark:bg-gray-900 rounded-lg p-0" aria-labelledby="dialog-aria-label">
  <header class="flex items-center justify-between p-4 bg-gray-700 dark:bg-gray-900 drop-shadow-lg">
    <h3 id="dialog-aria-label" class="text-xl font-semibold text-white">Settings</h3>
    <div class="w-5"></div>
    <button aria-label="Close Modal" data-close type="button" class="active:scale-95 transition-all motion-reduce:transition-none text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-600 hover:text-white">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
        </path>
      </svg>
    </button>
  </header>

  { /* Gradient Line */ }
  <div class="h-1 bg-gradient-to-br from-pink-500 to-orange-400"></div>

  { /* Body */ }
  <section class="p-6 space-y-6 bg-white dark:bg-gray-800">
    <p class="text-black dark:text-white">
      Stuff's changed since you were last here, the whole MeteoWeather site has undergone a massive rewrite!
      <br />
      <br />
      Its faster, snappier, and with a all new, refreshed look!
    </p>
    <br />
    <strong class="text-2xl bg-clip-text text-transparent font-black bg-gradient-to-br from-pink-400 to-orange-300">Enjoy!</strong>
  </section>

  { /* Gradient Line */ }
  <div class="h-1 bg-gradient-to-br from-pink-500 to-orange-400"></div>

  <footer class="flex place-content-between p-6 space-x-2 rounded-b bg-gray-700 dark:bg-gray-900">
    <button type="button" data-close class="active:scale-95 hover:brightness-110 transition-all motion-reduce:transition-none shadow-sm shadow-red-400 text-white bg-gradient-to-br from-pink-500 to-orange-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Got It</button>
  </footer>
</dialog>

<style>
  dialog[open] {
    animation: show 0.2s ease normal;
  }

  dialog::backdrop {
    backdrop-filter: blur(5px) brightness(90%);
  }

  @keyframes show {
    from {
      transform: translateY(5%);
    }
  }
</style>

<script>
  function setup() {
    const dialog = document.getElementById("newLookModal") as HTMLDialogElement;

    if (localStorage.getItem("NewLookModalShown") === "false" || (!("NewLookModalShown" in localStorage))) {
      dialog.showModal();
      localStorage.setItem("NewLookModalShown", "true");
    };

    const closeButtons = document.querySelectorAll("[data-close]") as NodeListOf<HTMLButtonElement>;

    for (const button of closeButtons) {
      button.addEventListener("click", () => {
        const keyFrame = new KeyframeEffect(
          dialog, 
          [{ translate: "0 5%"}], 
          { duration: 100, easing: "ease", direction: "normal" }
        );

        const animation = new Animation(keyFrame, document.timeline);
        animation.play();
        animation.onfinish = () => dialog.close();
      });
    };
  };

  setup();
  document.addEventListener("astro:after-swap", setup);
</script>