@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  src: url(/Inter/Inter.woff2) format("woff2"),
    url(/Inter/Inter.woff2) format("woff2-variations"),
    url(/Inter/Inter.woff2) format("woff2 supports variations"),
    url(/Inter/Inter.woff2) format("woff2") tech("variations");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url(/Inter/Inter-Thin.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url(/Inter/Inter-ExtraLight.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(/Inter/Inter-Light.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(/Inter/Inter-Regular.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(/Inter/Inter-Medium.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(/Inter/Inter-SemiBold.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(/Inter/Inter-Bold.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(/Inter/Inter-ExtraBold.woff2) format("woff2");
  unicode-range: 0020—007F;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(/Inter/Inter-Black.woff2) format("woff2");
  unicode-range: 0020—007F;
}
