/*
This file is part of MetroWeather.

MetroWeather is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MetroWeather is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with MetroWeather. If not, see
<https://www.gnu.org/licenses/>.

Copyright © 2022-2023 Open-Meteo.com
*/

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  src: url("/Inter.woff2") format("woff2-variations"),
    url("/Inter.woff2") format("woff2");
  src: url("/Inter.woff2") format("woff2") tech("variations");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  src: url("/Inter-Italic.woff2") format("woff2-variations"),
    url("/Inter-Italic.woff2") format("woff2");
  src: url("/Inter-Italic.woff2") format("woff2") tech("variations");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: "ss01", "cv05";
}

@media (min-height: 600px) {
  #logo {
    width: 14rem;
    height: 14rem;
  }
  #main {
    display: block;
  }
}
