---
/*
  MeteoWeather is a Accurate Weather App 
  Copyright (C) 2024 Mukul Kedia

  MeteoWeather is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MeteoWeather is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with MeteoWeather. If not, see <https://www.gnu.org/licenses/>.
*/

import { ViewTransitions } from "astro:transitions"

import "@/styles/inter.css"

import favicon from "@/assets/favicon.svg"

const { title } = Astro.props

import NewLookModal from "@/components/NewLookModal.astro"
import SettingsModal from "@/components/SettingsModal.astro"
import CreditsModal from "@/components/CreditsModal.astro"
---

<html lang="en" class="dark">
  <head>
    { /* Metadata */ }
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Astro Weather App">
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href={favicon.src}>

    <title>{`${title} - MeteoWeather`}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased overflow-x-hidden">
    <slot />
    <NewLookModal />
    <SettingsModal />
    <CreditsModal />
  </body>
</html>

<style>
  * {
    line-height: 1.5rem;

    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }
</style>